<div class=container>
    <br>
    <br>
    <br>
<div class="backgroundcolor" style="text-align:center">
    <br>
    <br>
    <br>
    <br>
       <!-- USERNAME FIELD -->
       <form [hidden]="submitted" [formGroup]="regForm" novalidate (ngSubmit)="onRegiter()">
             <div class="form-group">
               <label class="center-block">
                   User Name* <input type="text" class="form-control" formControlName="name" [(ngModel)]="userAccount.username">
               </label>
             </div>
             <div *ngIf="regForm.controls['name'].invalid && (regForm.controls['name'].dirty || regForm.controls['name'].touched)" class="alert alert-danger">
                 <div *ngIf="regForm.controls['name'].errors.required">
               <b>  Username is required.</b>
               </div>
               <div *ngIf="regForm.controls['name'].errors.maxlength">
                   Maximum characters required for username is 20
                 </div>
                 <div *ngIf="regForm.controls['name'].errors.minlength">
                   Minimum characters required for username is 3
                 </div>
             </div>
   
   <!-- EMAIL FIELD -->
             <div class="form-group">
                   <label class="center-block">Email*
                       <input type="email" class="form-control" formControlName="email" [(ngModel)]="userAccount.email">
                   </label>
               </div>
               
             <div *ngIf="regForm.controls['email'].invalid && (regForm.controls['email'].dirty || regForm.controls['email'].touched)" class="alert alert-danger">
                           <div *ngIf="regForm.controls['email'].errors.required">
                               Email is required.
                         </div>
                           <div *ngIf="regForm.controls['email'].errors.pattern">
                               <!-- [(a-z),(A-Z),(0-9)@gmail.com] -->
                               Email id pattern should be like this [*@gmail.com]
                           </div>
             </div>
   
   <!-- PHONE FIELD -->
             <div class="form-group">
               <label class="center-block">Phone Number*
                 <input type="number"  class="form-control" formControlName="phonenumber" [(ngModel)]="userAccount.mobileno">
               </label>
             </div>
             <div *ngIf="regForm.controls['phonenumber'].invalid && (regForm.controls['phonenumber'].dirty || regForm.controls['phonenumber'].touched)" class="alert alert-danger">
                 <div *ngIf="regForm.controls['phonenumber'].errors.required">
                 Phone Number  is required.
               </div>
               <div *ngIf="regForm.controls['phonenumber'].errors.pattern">
                   Phone number should start with 9/8/7/6 and of 10 digits
                 </div>
             </div>
   
   <!-- PASSWORD FIELD -->
             <div class="form-group">
               <label class="center-block">Password*
                 <input type="password" class="form-control" formControlName="password" [(ngModel)]="userAccount.password">
               </label>
             </div>
             <div *ngIf="regForm.controls['password'].invalid && (regForm.controls['password'].dirty || regForm.controls['password'].touched)" class="alert alert-danger">
                 <div *ngIf="regForm.controls['password'].errors.required">
                 Password  is required.
               </div>
               <div *ngIf="regForm.controls['password'].errors.maxlength">
                   Maximum characters for password is 15
                 </div>
                 <div *ngIf="regForm.controls['password'].errors.minlength">
                   Minimum characters for password is 6
                 </div>
                 <div *ngIf="regForm.controls['password'].errors.pattern">
                   Password should comprised of atleast one lowercase, uppercase and number
                 </div>
             </div>
   <!-- CONFIRM PASSWORD FIELD -->
             <div class="form-group">
               <label class="center-block">Confirm Password*
                 <input type="password" class="form-control" [class.is-invalid]="regForm.errors?.misMatch" formControlName="confirmPassword">
                 <small class="text-danger" *ngIf="regForm.errors?.misMatch">Passwords do not match</small>
               </label>
             </div>
             <div *ngIf="regForm.controls['confirmPassword'].invalid && (regForm.controls['confirmPassword'].dirty || regForm.controls['confirmPassword'].touched)" class="alert alert-danger">
                 <div *ngIf="regForm.controls['confirmPassword'].errors.required">
                   Confirm Password is required.
                   </div>
             </div>
    <!-- REGISTER BUTTON -->
             <button class="btn btn-primary" [disabled]="!regForm.valid" type="submit">Register</button>
   <br>
   <br>
   <br>
   <br>
   <br>
    </form>
       </div>
      </div>
       
   
  
   
   